@model SALES_MANAGEMENT.Models.LoginModel
@{
    ViewBag.Title = "Hi Admin";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@*<h2>Sign in wth your Credentials...</h2>*@
<body>
    <style type="text/css">
        h1 {
            text-align: center;
        }
        body {
            background-color: lavender;
        }
        .button {
            background-color: white;  
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            
        }

        /*.myClass {
            :: -webkit-input-placeholder
        }

        {
            color: #f00;
        }

        ::-moz-placeholder {
            color: #f00;
        }
         firefox 19+ 
        :-ms-input-placeholder {
            color: #f00;
        }
         ie 
        input:-moz-placeholder {
            color: #f00;
        }*/
        
       
    </style>
</body>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Admin Login </h1>
    
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Adminid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adminid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adminid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="button" />
        </div>
    </div>
    <h2 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> @Html.ViewData["Message"] </h2>


    @*<table class="customers" id="TableId1">
        <thead id="lo">
            <tr>

                <th>
                    Emailid
                </th>



        </thead>
        <tbody>
        </tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.EmailId</td>*@



    @*</tr>
            }
        </table>*@
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


