@model IEnumerable<SALES_MANAGEMENT.Models.OpportunityModel>
<h1 style="text-align: center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> OPPORTUNITY LIST </h1>
<style>

    p {
        text-align: center;
    }
</style>
<p>
    <h2> <button>@Html.ActionLink("Create New Opportunity", "Create")</button> </h2>
</p>
<head>
    <style>
        table {
            border-collapse: separate;
            width: 300%;
        }

        th, td {
            text-align: center;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #ffffff;
            color: black;
            text-align: center;
        }
    </style>
</head>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseTimeForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchesProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForecastCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentSuitation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustommerNeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedSolution)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseTimeForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchesProcess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSuitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustommerNeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedSolution)
            </td>
            <td>
                <button>
                    @Html.ActionLink("Edit", "Edit", new { RefOppId = item.RefOppId })
                </button>
                <button>
                    @Html.ActionLink("Delete", "Delete", new { RefOppId = item.RefOppId }, new { onclick = "return confirm('Are you sure you want to delete this Lead Record?')" })
                </button>
                @*<button>
                    @Html.ActionLink("Qualify", "Qualify", new { RefOppId = item.RefOppId })
                </button>*@
            </td>
        </tr>
    }

</table>
