@model IEnumerable<SALES_MANAGEMENT.TBL_Leads>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: 'Times New Roman';
            font-size: 15pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    <table class="table">
        <tr>
            <th>LeadId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>MobileNumber</th>
            <th>EmailId</th>
            <th>Title</th>
            <th>CompanyName</th>
            <th>CompanyWebsite</th>
            <th>JobTitle</th>
            <th>IsQualify</th>
            <th>MeetingDate</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LeadId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Gender</td>
                <td>@item.MobileNumber</td>
                <td>@item.EmailId</td>
                <td>@item.Title</td>
                <td>@item.CompanyName</td>
                <td>@item.CompanyWebsite</td>
                <td>@item.JobTitle</td>
                <td>@item.IsQualify</td>
                <td>@item.MeetingDate</td>

            </tr>
        }

    </table>
    <br />
    <a href="~/Reports/Report.aspx">View Report</a>
</body>
</html>
