@model IEnumerable<SALES_MANAGEMENT.Models.LoginModel>
<style>

    p {
        text-align: center;
    }
</style>
<h1>Existing Users:</h1>
<br />
<p>
<input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Type to search table..."><br />&nbsp;
</p>
<style type="text/css">
    .grey {
        background-color: grey;
    }

    .approved {
        background-color: green;
    }

    .rejected {
        background-color: red;
    }

    .pending {
        background-color: lime;
    }

    .notfound {
        display: none;
    }
</style>

<th>
    <style>
        table {
            border-collapse: separate;
            width: 300%;
        }

        th, td {
            text-align: center;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #ffffff;
            color: black;
            text-align: center;
        }
    </style>

    <table class="table-bordered table pull-right" id="mytable" border="1" width="100%">
        <thead>
            <tr style="background:green">

                <th>
                    @Html.DisplayNameFor(model => model.UserEmailId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserDepartment)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDepartment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.LeadId)
                        </td>*@

                </tr>
            </tbody>
        }

    </table>



    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#search").keyup(function () {
                _this = this;

                // Show only matching TR, hide rest of them
                $.each($("#mytable tbody tr"), function () {
                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>

